body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input:focus,
input:active,
button:active,
button:focus {
    outline: none;
}

.btn{
    padding: 0.5rem 1rem; 
    font-size: 1.2rem; 
    font-weight: bold;
    border: none; 
    text-shadow: 1px 1px 1px black;
    border-radius: 4px;  
    background-color: rgba(38, 250, 56, 0.959);
    color: white; 
    cursor: pointer;
}
.btn-primary{
    background-color: dodgerblue;
    color: white; 
}