.Message__container{
    display: flex;
    font-family: monospace;
    font-size: 1.2rem; 
    font-weight: 500;
    margin: 2rem 0; 
}
.Message{
    display: inline-block;
    padding: 0 0.5rem; 
}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
.left .Message{
    background-color: #03a9f4;
    color: white; 
    border-radius: 0 8px 24px 0;
}
.right .Message{
    border: 1px solid grey; 
    border-radius: 8px 0px 0px 24px;
}
span{
    font-size: 0.8rem; 
}
.right span{
    text-align: right;
}
.MessageBox{
    display: flex;
    flex-direction: column;
    max-width: 60%;  

}
.right .MessageBox{
    align-items: flex-end;
}
.MessageBox p{
    width: 100%; 
}
.right Message{
    justify-content: flex-end;
}
img{
    margin-top: 10px; 
    width: 50%; 
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 550px) {
    .MessageBox{
        max-width: 70%;

    }
    .Message__container{
        font-size: 1rem;  
    }

}

@media only screen and (max-width: 550px) {
    img{
        width: 100%; 
    }
}